%div{ ng: { include: "'layout_partials/header.html'" } }
.container-fluid
  .row
    .col-lg-6.col-lg-offset-3
      .row
        .form-group
          .input-group
            %input.form-control{ type: 'text', ng: { model: 'task' } }
            %span.input-group-btn
              %button.btn.btn-primary{ type: 'submit', ng: { click: 'add(task)' } } Do!
        %h4 Task
        %ul.list-group
          %li.list-group-item{ ng: { repeat: 'todo in user.todos' } }
            {{ todo.task }}
            %span.pull-lg-right{ ng: { bind: { html: 'persistedHTML(todo.id)' } } }
