%div{ ng: { include: "'layout_partials/header.html'" } }
.container-fluid
  .row
    .col-lg-6.col-lg-offset-3
      .row
        %form{ name: 'todosForm', ng: { submit: 'add(task)' } }
          .form-group
            .input-group
              %input.form-control{ type: 'text', name: 'task', ng: { model: 'task' } }
              %span.input-group-btn
                %button.btn.btn-primary{ type: 'submit' } Do!
        %ul.list-group
          %li.list-group-item{ ng: { repeat: 'todo in user.todos' } }
            {{ todo.task }}
            %button.close{ type: 'button', aria: { label: 'Close' }, ng: { click: 'remove(todo)' } }
              %span{ aria: { hidden: 'true' } } &times;
