.container-fluid
  .row
    .col-lg-6.col-lg-offset-3
      %form{ ng: { submit: 'add(task)' } }
        .form-group
          .input-group
            %input.form-control{ type: 'text', name: 'task', ng: { model: 'task', disabled: 'user.hasTodosToAllocate()' } }
            %span.input-group-btn
              %button.btn.btn-primary{ type: 'submit', ng: { show: '!user.hasTodosToAllocate()' } } Do!
              %button.btn.btn-danger{ type: 'button', ng: { click: 'cancelAdd()', show: 'user.hasTodosToAllocate()' } }
                %span{ style: 'font-weight:500;' } &times;
  .row
    .col-lg-1.col-lg-offset-2
      %button.btn.btn-primary-outline{ type: 'button', style: 'margin-top:5px;', ng: { show: 'user.hasTodosToAllocate()', click: 'doLater()' } }
        Later
        %span.octicon.octicon-chevron-right
    .col-lg-6
      .card
        .card-header{ data: { toggle: 'collapse', target: '#todos' }, style: 'cursor:pointer;' } Todos
        .collapse#todos
          .card-block
            %ul.list-group{ ng: { model: 'user.todos' }, ui: { sortable: 'sortableOptions' } }
              %li.list-group-item{ ng: { class: 'todo.sortableClass', repeat: 'todo in user.todos | active: false | orderBy: position' } }
                {{ todo.task }}
                %button.close{ type: 'button', ng: { click: 'remove(todo)' } }
                  %span &times;
  .row
    .col-lg-1.col-lg-offset-2
      %button.btn.btn-primary-outline{ type: 'button', style: 'margin-top:5px;', ng: { show: 'user.hasTodosToAllocate()', disabled: 'user.maxedActive()', click: 'doNow()' } }
        Now
        %span.octicon.octicon-chevron-right
    .col-lg-6
      %ul.list-group{ style: 'width:auto; border-radius:0.25em; background-color:#F5F5F5;', ng: { style: 'user.activeBoxStyle()' } }
        %li.list-group-item{ ng: { repeat: 'todo in user.todos | active: true | completed: false', style: 'user.todoStyle()' } }
          %input{ type: 'checkbox', ng: { model: 'todo.completed', change: 'complete(todo)' } }
          {{ todo.task }}
          %button.btn.btn-secondary.btn-sm{ ng: { show: 'user.hasTodosToAllocate() && user.maxedActive()', click: 'makeInactive(todo)' } }
            %span.octicon.octicon-chevron-up
          %button.close{ type: 'button', ng: { click: 'remove(todo)' } }
            %span &times;
