.container-fluid
  .row
    .col-lg-6.col-lg-offset-3
      = render partial: 'form', locals: { list: '' }
  .row
    .col-lg-6.col-lg-offset-3
      %span{ style: 'position:absolute; width:2px; height: 16px; background-color:white;' }
      %progress.progress{ value: '{{ user.count_of_todos_completed_today }}', max: '{{ user.goal_setting_attributes.target }}' }
    .col-lg-1
      %span.label{ style: 'position:absolute;', ng: { class: 'user.progressLabelClass()' } } {{ user.count_of_todos_completed_today }} / {{ user.goal_setting_attributes.target }}
  .row
    .col-lg-1.col-lg-offset-2
      %button.btn.btn-primary-outline{ type: 'button', style: 'margin-top:5px;', ng: { show: 'user.hasTodosToAllocate()', disabled: 'user.maxedActive()', click: 'doNow()' } }
        Now
        %span.octicon.octicon-chevron-right
    .col-lg-6
      %ul.list-group{ style: 'width:auto; border-radius:0.25em; background-color:#F5F5F5; margin-bottom:1em;', ng: { style: 'user.activeBoxStyle()' } }
        %button.btn.btn-secondary{ style: 'display:block; position:relative; margin:auto;', ng: { show: 'user.emptyActive() && !user.emptyInactive()', style: 'user.pullInactiveTodosBtnStyle()', click: 'pullInactiveTodos()' } }
          %span.octicon.octicon-chevron-up
        %p.lead.text-lg-center{ ng: { show: 'user.emptyActive() && user.emptyInactive()', style: 'user.noInactiveTodosCopyStyle()' } } All done!
        %li.list-group-item{ ng: { repeat: 'todo in user.todos | active: true | completed: false', style: 'user.todoStyle()' } }
          %input{ type: 'checkbox', ng: { model: 'todo.completed', change: 'complete(todo)' } }
          {{ todo.task }}
          %button.btn.btn-secondary.btn-sm{ ng: { show: 'user.hasTodosToAllocate() && user.maxedActive()', click: 'makeInactive(todo)' } }
            %span.octicon.octicon-chevron-down
          %button.close{ type: 'button', ng: { click: 'remove(todo)' } }
            %span &times;
  .row
    .col-lg-1.col-lg-offset-2
      %button.btn.btn-primary-outline{ type: 'button', style: 'margin-top:5px;', ng: { show: 'user.hasTodosToAllocate()', click: 'doLater()' } }
        Later
        %span.octicon.octicon-chevron-right
