:javascript
  $.ajax({
    url: 'http://localhost:4000/v1/users/view_pipeline',
    type: 'PUT',
    error: function() {
      window.location.replace("#{root_url}");
    },
    headers: { 'Session-Token': Cookies.get('token') }
  });

.container-fluid
  .row
    .col-lg-6.col-lg-offset-3
      = render partial: 'form', locals: { list: 'later' }
  .row
    .col-lg-6.col-lg-offset-3
      %ul.list-group{ ng: { model: 'user.todos' }, ui: { sortable: 'sortableOptions' } }
        %li.list-group-item{ ng: { class: 'todo.sortableClass', repeat: 'todo in user.todos | active: false | orderBy: position' } }
          {{ todo.task }}
          %button.close{ type: 'button', ng: { click: 'remove(todo)' } }
            %span &times;

