%nav.navbar.navbar-fixed-top.navbar-light.bg-faded
  .container-fluid
    %a.navbar-brand{ href: '#' } Doer
    %ul.nav.nav-pills
      %li.nav-item.dropdown.pull-lg-right
        %a.nav-link.dropdown-toggle{ href: '#', data: { toggle: 'dropdown' } } {{ user.email }}
        .dropdown-menu.dropdown-menu-right
          %a.dropdown-item{ href: '#' } Settings

