!!!
%html
%head
  %title DoerWeb
  %base{ href: '/' }
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
%body{ style: 'padding-top:50px;' }
  %div{ @body_attrs }
    %div{ @view_container_attrs }
      = yield

